$main_font_size: 14px;

$font-size-xxx-small: calc(8px / $main_font_size) * 1rem;
$font-size-xx-small: calc(10px / $main_font_size) * 1rem;
$font-size-x-small: calc(12px / $main_font_size) * 1rem;
$font-size-small: calc(14px / $main_font_size) * 1rem;
$font-size-normal: calc(16px / $main_font_size) * 1rem;
$font-size-medium-1: calc(18px / $main_font_size) * 1rem;
$font-size-medium-2: calc(20px / $main_font_size) * 1rem;
$font-size-large-1: calc(24px / $main_font_size) * 1rem;
$font-size-large-2: calc(28px / $main_font_size) * 1rem;
$font-size-x-large-1: calc(32px / $main_font_size) * 1rem;
$font-size-x-large-2: calc(34px / $main_font_size) * 1rem;
$font-size-x-large-3: calc(40px / $main_font_size) * 1rem;

$vh-full: calc(var(--vh, 1vh) * 100);
$vh: calc($vh-full - env(safe-area-inset-top, 20px) - env(safe-area-inset-bottom, 10px));

$zindex: (
  overall: 20000,
  loader: 9000,
  popover: 8500,
  toaster: 8000,
  modal: 7000,
  header: 6000,
  screen: 5000,
  badge: 3000,
  innerItem: 1000,
);

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 800px;
$normal-breakpoint: 980px;
$wide-breakpoint: 1720px;

// SHADOW
$card-shadow: 0px 1px 10px 1px #0000000D;
$button-shadow: 0px 1px 3px 1px #00000026;
$button-shadow-2: 0px 1px 2px 0px #0000004D;
$header-shadow: 0px 2px 5px 0px #031A2814;
$sticky-shadow: 0px -2px 10px 0px #031A281A;

// Header height
 $header-height: 80px;
 $header-height-mobile: 72px;
 $header-margin-bottom: 35px;
 $category-slider-height: 75px;
 $filter-button-header-height: 74px;
 $filter-button-header-mobile-height: 60px;