@font-face {
    font-family: SecularOne;
    src: url('@/assets/fonts/SecularOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: GveretLevinAlefAlefAlef;
    src: url('@/assets/fonts/GveretLevinAlefAlefAlef-Regular.otf') format('opentype');
}
@font-face {
    font-family: Caveat-regular;
    src: url('@/assets/fonts/Caveat-Regular.ttf') format('opentype');
}
@font-face {
    font-family: Rubik;
    src: url('@/assets/fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: RubikLight;
    src: url('@/assets/fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: RubikMedium;
    src: url('@/assets/fonts/Rubik-Medium.ttf') format('truetype');
}