@font-face {
    font-family: SecularOne;
    src: url('../../../assets/fonts/SecularOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: MPLUSRounded1c;
    src: url('/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: RubikSprayPaint;
    src: url('/fonts/RubikSprayPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
