@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: NotoRegular, "Helvetica Neue", "Helvetica";
    font-weight: 400;
    color: $white;
}

p, label {
    font-family: NotoRegular, "Helvetica Neue", "Helvetica";
    font-weight: 300;
    font-size: 1rem;
    color: $white;
}

span {
    font-family: NotoRegular, "Helvetica Neue", "Helvetica";
}
