@use "../abstracts" as *;

.lobby-page {
    height: $vh;
    padding: 1rem;
    max-height: $vh;

    .app-dialog-content {

        .dialog-main-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .upload-input-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                display: none;
            }

            label {
                cursor: pointer;
                background-color: $dark-blue-transparent;
                padding: 1rem;
                color: $white;
                border-radius: 16px;
            }
        }
    }
}
