@use "../../abstracts" as *;

.app-layout {
    width: 100%;
    height: 100%;
    .layout-default {
        $gap: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 1fr 10%;
        grid-template-areas:
            "top     top       top       top  "
            "left    left      left      right"
            "bottom  bottom    bottom    bottom";
        height: 100%;
        gap: $gap;

        .top-section {
            grid-area: top; // Maps to the "top" grid area
            display: grid;
            grid-template-columns: 100px 1fr 2fr 1fr 100px;
            grid-template-rows: 100%;
            overflow: hidden;
        }

        .main-left-section {
            grid-area: left; // Maps to the "left" grid area
            background-color: rgb(41, 54, 54);
            border-radius: 16px;
        }

        .main-right-section {
            grid-area: right; // Maps to the "right" grid area
            direction: rtl;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: $gap;
        }

        .bottom-section {
            grid-area: bottom; // Maps to the "bottom" grid area
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
