@use "../../abstracts" as *;

.app-layout {
    width: 100%;
    height: 100%;
    .layout-default {
        $gap: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr 10%;
        height: 100%;
        gap: $gap;

        .top-section {
            grid-row: 1/1;
            grid-column: 1/3;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .left-section {
            background-color: rgb(41, 54, 54);
            border-radius: 16px;
            height: 100%;
            grid-row: 2 / 3;
        }

        .right-section {
            display: grid;
            grid-row: 2 / 3;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: $gap;
        }
    }
}
