@use "../../abstracts" as *;

.app-clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    
    h1 {
        font-family: MPLUSRounded1c, sans-serif;
        font-size: rem(30px);
    }

    h2 {
        font-size: rem(30px);
    }
}
