@use "../../abstracts" as *;

.app-clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;


    h1 {
        font-size: rem(40px);
    }

    h2 {
        font-size: rem(30px);
    }
}
