@use "../../abstracts" as *;

.app-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 800;
}
