.app-weather {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    font-family: "Courier New", Courier, monospace;
    
    &__title, &__temp {
        font-family: "Courier New", Courier, monospace;
        font-size: 2rem;
        margin: 0;
        font-weight: 600;
    }

    &__icon {
        width: 80px;
        height: 80px;
        max-height: 100%;
    }

    &__error {
        color: red;
        font-weight: 600;
    }
}
