@use "../../abstracts/" as *;

.customer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        width: 100%;
        max-width: rem(200px);
        object-fit: contain;
    }

    .upload-logo-wrapper {
        input[type="file"] {
            display: none;
        }

        label {
            cursor: pointer;
            padding: 0.5rem 1rem;
            color: $white;
            border-radius: 4px;

        }
    }
} 