@use "../../abstracts" as *;

.media-component-container {
    width: 100%;
    height: 100%;
    position: relative;

    .media-image-wrapper,
    .media-video-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 16px;
    }

    .upload-img-input-wrapper,
    .upload-video-input-wrapper,
    .media-choose-wrapper,
    .upload-audio-input-wrapper:not(.header-audio) {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background-color: $dark-blue-transparent;
        z-index: 1;

        &:hover {
            opacity: 1;
        }

        input {
            display: none;
        }

        label {
            cursor: pointer;
            background-color: azure;
            padding: 1rem;
            border-radius: 16px;
            color: $dark-blue;
        }
    }
    .uploaded-img-container {
        background-size: cover; // Ensures the image covers the div
        background-position: center; // Centers the image
        width: 100%; // Adjust dimensions as needed
        height: 100%; // Set the height explicitly
    }
    .uploaded-video-container {
        width: 100%; // Adjust dimensions as needed
        height: 100%; // Set the height explicitly
        object-fit: cover;
        position: absolute; // Ensure it stays within the parent
        inset: 0;

        @include for-wide-layout {
            object-fit: unset;
        }
    }
    .upload-audio-input-wrapper.header-audio {
        position: absolute;
        left: 0;
        top: 50%;
        translate: 50% -50%;
        input {
            display: none;
        }

        label {
            cursor: pointer;
            background-color: azure;
            padding: 1rem;
            border-radius: 16px;
            color: $dark-blue;
        }
    }
}
.app-dialog-content {
    .dialog-main-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .upload-input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            display: none;
        }

        label {
            cursor: pointer;
            background-color: $dark-blue-transparent;
            padding: 1rem;
            color: $white;
            border-radius: 16px;
        }
    }
}
